$sky1:#00bff3;
$complimentary:#f34900;
$monochromatic:#2cb4da;
$border: #00bff3;
$sky2:#27D1FF;
$sky:rgba(0,191,243,0.9);
$features_bg: #66D8F8;
$body_text: #4b4b4b;
$linkHover:  #143539;
$skills:white;