@import 'commons/headings.scss';
@import 'commons/intro.scss';
@import 'commons/sections.scss';
@import 'commons/buttons.scss';
@import 'commons/webs.scss';
@import 'commons/projects.scss';
@import 'commons/react.scss';
@import 'commons/post.scss';

*{
    box-sizing: border-box;
}
body{
    line-height: 1.42857em;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    margin:0;
    padding:0;
    overflow-x: hidden; 
    font-family: 'Roboto Slab', serif;
}
html{
    width:100%;
    height:100%;
    font-size:100%; }
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,hr,p{
  margin: 0;
  padding: 0;
}

li[id*=menu-item] a{
    color:white;
	 text-transform: uppercase;
 	 letter-spacing: 3px;
  	    font-size: 16px;
  	font-family: 'Roboto Slab', serif;
}
a{
    text-decoration: none!important;
    cursor:pointer;
   
}
a:visited{
    text-decoration:none;
}
.section__bg--white{
    background-color:white;
}
.section__bg--blue{
    background-color: $bgBlue;
    background-color:$bgLight;
}
.waive--blue{
    background-color:white;
    margin-top:-200px;
}
.waive--white{
    background-color:$bgLight;
    margin-top:-300px;
}
.waive--python{
    margin-top:-350px;
}
.waive--white__react{
    margin-top:-300px;
}
@media screen and (max-width:1249.98px){
    .waive--white__react{
        margin-top:-220px;
    }
    .waive--python{
        margin-top:-160px;
    }
}
@media screen and (max-width:1023.98px){
    .waive--white__react{
        position:relative;
        z-index:0;
    }
    
}
.waive--games{
    margin-top:-100px;
}
*:focus {outline:none !important}

.react__description--mobile{
    display:none;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="accent"] {
    color: $sky;
  }
  [class*="align-right"] {
    text-align: right;
  }
  [class*="align-left"] {
    text-align: left;
  }
  [class*="align-center"] {
    text-align: center;
  }
hr{
    border:none;
}

[class*="align-center"]{
    text-align:center;
}
.content{
    max-width: 1300px;
    
}
@media screen and (max-width: 1250px) {
    .content {
      max-width: 1000px;
    }
}
  

.shadow{
    box-shadow: 2rem 1rem 2rem rgba(0,0,0,.15);
}


/*
==============================================
Header Styles
==============================================
*/
.sticky {
   position: fixed;
   top: 0;
   width: 100%;
  }
.site__header{
    background-color: $sky;
    height: 115px;
    
   border-bottom: 1px solid $monochromatic;
   z-index: 999;
}
.header_desktop{
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;   
}

.logo__text{
    color: white;
    font-size: 18px;
    letter-spacing: 5px;
   // font-family: 'Raleway Dots', cursive;
   transform:rotate(-90deg);
   transition:0.5s ease-in;
}
.logo__text:hover{
    color:$complimentary;
}

.header__nav{
    width: 60%;   
}
.nav{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__menu{
    height: 100%;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

// classes generated by wordpress
.menu-item{
    height: 62%;
    align-self: flex-end; 
    margin-bottom: 1px;
  
}

.menu-item:hover{
    border-bottom: 5px solid white;
    transition: 0.2s ease;
    a{
        text-decoration: none;
        color: white;
        
    }
}
.sub-menu{
    display:none;
}
.sub-menu:hover{
    display:block;
}
.header_mobile{
    display: none;
}
.fa-bars{
    color:white;
    margin-right: 45px;
}

@media screen and(max-width: 1100px){
    .header_desktop{
        display: none;
    }
    .header_mobile{
        height:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo__text{
        margin-left: 30px;
    }
   
}
// end styles for navigation




.project__container:hover{
    box-shadow: 5px 10px $monochromatic;
    border:2px solid $monochromatic;  
}
.project__description{
    position:relative;
    margin-top: 20px;
    height: 480px;
    width:18%;
    // max-width:18%;
    background-color: white;
    text-align: center;
    padding: 16px 30px;
    border-radius:  20px;
     box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
    color:$bodyText;
}
.project__description:hover{
    box-shadow: 5px 10px $monochromatic;
    border:2px solid $monochromatic;  
}

.built__with{
  margin-bottom:45px;
  text-align:center;
  color:$sky;
  text-transform: uppercase;
  font-size:16px;
}
.project__text{
 margin-bottom: 12px;
 text-transform: uppercase;
 color:$bodyText;
 font-weight: 500;
 font-size: 14px;
 letter-spacing:2px;
 text-align:center;
}

/*
==============================================
About Styles
==============================================
*/
.about{
    overflow: hidden;
    margin-left:300px;
    max-width: 1180px; 
}
.about__text{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    letter-spacing: 3px;
    color:white;
    line-height: 1.4em;
    max-width:600px;
}
.ellipse{
  shape-outside: ellipse(100px 200px at 50% 50%);
  width: 350px;
  height: 400px;
  float: left;
  opacity: .2;
}

@media screen and (max-width: 1201px){
    .about{
        margin:auto;  
    } 
    .ellipse{
        display:none;
    }
    .about__text{
        width:80%;
        margin:0 auto;
    }
    .about__button{
        margin:40px auto;
    }
}
@media screen and (max-width:767.98px){
    .about__text{
        font-size:0.8rem;
        line-height:1.1rem;
    }
}
@media screen and(max-width:576.98px){
    .about{
        width:97%;
        padding:40px;
    }
}
waive>svg{
    display:block;
    overflow: hidden;
}
/******************************************************
*          footer Styles
******************************************************/
.site__footer{
    position:relative;
    text-align: center; 
    background-color: white;
    animation: wave 30s liner infinite;
}

.waive-container>svg{
    display:block;
    max-width:100vw;
    width:100vw;
    
}
@keyframes wave{
    0%{
        transform:translateX(0px);
    }
    100%{
        transform:translateX(500px);
    }
}
.contact__container{
    position:absolute;
    bottom:60px;
    left:50%;
    transform:translateX(-50%);
    z-index:300;
}
.social, .email, .phone{
    text-decoration: none;
}
.social{
    margin-bottom:60px;
}
.phone{
    letter-spacing: 5px;
    color:$content--skills;
    margin-bottom: 60px;
}
.email{
    font-size: 44px;
    letter-spacing: 8px;
    color:white;
    
}
.email:hover{
    color:$complimentary;
    text-decoration: none;
}
.phone:hover{
    color:$complimentary;
    text-decoration: none;
    transition:0.5s ease-in;
}
i.fab{
    color:white;
    padding: 0 10px;
    transition: all 0.5s ease-in-out;
    transition:0.5s ease-in;
}
i.fab:hover{
    color:$complimentary;

}
@media screen and (max-width:1199.98px){
    .contact__container{
        bottom:28px;
    }
}
@media screen and (max-width:991.98px){
    .social,.phone{
        margin-bottom:32px;
    }
    .phone,.email{
        font-size:1.5rem;
    }
}
@media screen and (max-width:575.98px){
    .contact__container{
        bottom:15px;
    }
    .social,.phone{
        margin-bottom:12px;
    }
    .phone,.email{
        font-size:1rem;
    }
    .email{
        letter-spacing:2px;
    }
    
}
@media screen and (max-width:550px){
    .waive-container>svg{
        transform:scaleY(1.5);
    }
    .contact__container{
        bottom:-15px;
    }
}
@media screen and (max-width:424.98px){
    i.fab{
        padding:0;
    }
    .email{
        font-size:1rem;
    }
}
//side navigation
.navopen #overlay__sidenav {
    display: block;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
#overlay__sidenav{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    background-color: rgba(231, 221, 229, 0.6);
    z-index:997;
    display:none;
}
.sidenav a{
    display:block;
    color:white;
    padding-bottom:40px;
    text-decoration: none;
    font-size:24px;
    text-align: center;
}
.sidenav a:hover{
    color: $complimentary;  
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color:$sky;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    
  }
  .sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 42px;
    font-size: 56px;
  }

.narrow{
    margin:0 auto;
}