//1. Configuration and helpers
@import
 'abstracts/variables',
 'abstracts/functions',
 'abstracts/mixins';

@import
    'animations/pageTransitions';

@import 'base/reset';
@import 'base/base';

@import 
    'layout/header',
    'layout/footer';

@import 'components/headings';
@import 'components/intro';
@import 'components/sections';

@import 
    'components/buttons',
    'components/scrollToProjectsButton';

@import 'components/webs';
@import 'components/projects';
@import 'components/react';
@import 'components/post';

@import 'layout/new';
@import 'layout/sections';
@import 'layout/aboutSection';











.project__container:hover{
    box-shadow: 5px 10px $monochromatic;
    border:2px solid $monochromatic;  
}
.project__description{
    position:relative;
    margin-top: 20px;
    height: 480px;
    width:18%;
    // max-width:18%;
    background-color: white;
    text-align: center;
    padding: 16px 30px;
    border-radius:  20px;
     box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
    color:$bodyText;
}
.project__description:hover{
    box-shadow: 5px 10px $monochromatic;
    border:2px solid $monochromatic;  
}

.built__with{
  margin-bottom:45px;
  text-align:center;
  color:$sky;
  text-transform: uppercase;
  font-size:16px;
}
.project__text{
 margin-bottom: 12px;
 text-transform: uppercase;
 color:$bodyText;
 font-weight: 500;
 font-size: 14px;
 letter-spacing:2px;
 text-align:center;
}


