/******************************************************
*          footer Styles
******************************************************/
.site__footer{
    position:relative;
    text-align: center; 
    background-color: white;
    animation: wave 30s liner infinite;
    overflow-x: hidden;
}

.waive-container>svg{
    display:block;
    max-width:100vw;
    width:100vw;   
}
waive>svg{
    display:block;
    overflow: hidden;
}
@keyframes wave{
    0%{
        transform:translateX(0px);
    }
    100%{
        transform:translateX(500px);
    }
}
.contact__container{
    position:absolute;
    bottom:60px;
    left:50%;
    transform:translateX(-50%);
    z-index:300;
}
.social, .email, .phone{
    text-decoration: none;
}
.social{
    margin-bottom:60px;
}
.phone{
    letter-spacing: 5px;
    color:$content--skills;
    margin-bottom: 60px;
}
.email{
    font-size: 44px;
    letter-spacing: 8px;
    color:white;
    
}
.email:hover{
    color:$complimentary;
    text-decoration: none;
}
.phone:hover{
    color:$complimentary;
    text-decoration: none;
    transition:0.5s ease-in;
}
i.fab{
    color:white;
    padding: 0 10px;
    transition: all 0.5s ease-in-out;
    transition:0.5s ease-in;
}
i.fab:hover{
    color:$complimentary;

}
@media screen and (max-width:1199.98px){
    .contact__container{
        bottom:28px;
    }
}
@media screen and (max-width:991.98px){
    .social,.phone{
        margin-bottom:32px;
    }
    .phone,.email{
        font-size:1.5rem;
    }
}
@media screen and (max-width:575.98px){
    .contact__container{
        bottom:15px;
    }
    .social,.phone{
        margin-bottom:12px;
    }
    .phone,.email{
        font-size:1rem;
    }
    .email{
        letter-spacing:2px;
    }
    
}
@media screen and (max-width:550px){
    .waive-container>svg{
        transform:scaleY(1.5);
    }
    .contact__container{
        bottom:-15px;
    }
}
@media screen and (max-width:424.98px){
    i.fab{
        padding:0;
    }
    .email{
        font-size:1rem;
    }
}
