/******************************************************
*          footer Styles
******************************************************/
.site__footer{
    position:relative;
    text-align: center;   
}

.waive-container>svg {
    display:block;
    width:100vw;  
    overflow-x: hidden; 
}

.contact__container{
    position:absolute;
    bottom: 0px;
    left:50%;
    transform:translateX(-50%);
    z-index:300;
}

.social{
    margin-bottom:60px;
}
.phone {
    letter-spacing: 5px;
    color:$content--skills;
    margin-bottom: 60px;
}
.email{
    font-size: 44px;
    letter-spacing: 8px;
    color:white; 
}

.phone:hover, .email:hover {
    color:$complimentary;
    text-decoration: none;
    transition:0.5s ease-in;
}

@media screen and (max-width:991.98px){
    .social,.phone{
        margin-bottom:32px;
    }
    .phone,.email{
        font-size:1.5rem;
    }
}

@media screen and(max-width:600px) {
    .waive-container>svg{
        transform:scaleY(1.5);
    }
    .social,.phone{
        margin-bottom:12px;
    }
    .phone,.email{
        font-size:1rem;
    }
    .email{
        letter-spacing:2px;
    }
}

@media screen and(min-width:600px) {
    .contact__container {
        bottom: 9%;
    }
}
 