// @import 'colors.scss';
.content--games{
    max-width:1300px;
    margin:50px auto 0px;
}
.project{
    display: flex;
    justify-content: space-between;  
}
.project:not(:last-child){
    padding-bottom:40px;
}
.project__container{
    text-align: center;
    background-color: white;
    width: 69%;
    max-width:69%;
    height:auto;
    padding: 40px 40px 20PX;
    border-radius: 40px;
    border:2px solid $projectBorder;
    box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
    transition:0.7s ease-in;
    .project__heading{
        color:$bodyText;
        font-size: 24px;
        margin-bottom:20px;
    }
}
.project__description{
    border:2px solid $projectBorder;
}

.content--python{
    max-width:1300px;
    display:flex;
    justify-content: space-between;  
    margin:70px auto 0px;
}

.python__container{
    width:45%;
    text-align: center;
    background-color: white;
    height:auto;
    padding-left:40px;
    border:2px solid $projectBorder;
    box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
    transition:0.7s ease-in;   
    img{
        width:100%!important;
        height:auto;
    }
}
.responsive{
    width:100%;
    height:auto;
}
.project__description-mobile{
    display:none;
}


.content--skills{
    clear: both;
    display: flex;
    justify-content: space-between;
    width:1300px;
    margin:0 auto;
}

.content--skills__container{
    width:30%;
    padding-bottom:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid $projectBorder;
    border-radius: 20px;
    color: $sky;
    box-shadow: 18px -10px 2px 2px $projectBorder;
    p{
        font-family: 'Roboto Slab', serif;
        font-size: 1rempx;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height:1.5rem;
        color:$bodyText;
    }
}

.content--skills__heading{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin: 20px auto;
    color:$headingNew;
}
.content--skills__container:hover{
    box-shadow: 18px -10px 2px 2px $monochromatic;
    border: 1px solid $monochromatic;
    .content--skills__heading{
        color:$complimentary;
    }
}


@media screen and (max-width:1598.98px){
    .content--skills{
        padding-bottom:50px;
    }
}

@media screen and (max-width:1440px){
    .content{
        width:1200px;
    }
    .content--python{
        width:1200px;
    }
    .project__container{
        width:60%;
    }
    
}
@media screen and (max-width: 1250px) {
    .content {
      max-width: 1000px;
    }
    .content--python{
        width:80%;
    }
    .python__container{
        width:45%;
        img{
            width:100%;
            height:auto;
        }
    }
    .content--skills__container{
        padding:20px 10px;
    }
    .content--skills__container{
        z-index:0;
    }
  }

@media screen and(max-width:1120px){
    .project{
     flex-direction: column;
     align-items:center;
    }
    .project__container{
        width:69%;
        max-width:69%;
    }
    .content--skills__container:not(:last-child){
        margin-bottom:40px;
    }
    .project__description{
        display:none;
    }
    .content--skills{
        flex-direction: column;
        align-items:center;
        width:55%;
    }
    .content--skills__container{
        width:100%;
        padding:20px 2px;
    }
    .content--skills__heading{
        max-width:80%;
    }
   
    
}
@media screen and (max-width:1023.98px){
    .project__container{
        width:100%;
        max-width: 100%;
    }
    .project__description-mobile{
        display: block;
        font-size:20px;
        max-width:600px;
        text-align:center;
        line-height: 1.6em;
    } 
   
    .content{
        width:800px;
    }
    
    .python__container img{
        width:100%;
        height:auto;  
    }
    .python__container:not(:last-child){
        margin-bottom:40px;
    }
  
}

@media screen and (max-width:991.98px){
    
    .content--python{
        flex-direction: column;
        align-items:center;
    }
    .python__container{
        width:80%;   
    }
    .content--skills{
        max-width:62% !important;
    }
}

@media screen and (max-width:767.98px){
    .content--games{
        width:90%!important;
    }
    .project__container{
        width:100%;
        padding:25px 25px;
    }
   .project__heading{
       display:none;
   }
   .content--python{
       margin-top:40px;
   }
   .python__container{
       width:100%;
   }
   .content--skills{
       width:80%;
       max-width:none;
   }
   .content--skills__heading{
       font-size:1.2rem;
       line-height: 1.5rem;
       margin-bottom:12px;
   }
   .content--skills__container p{
       font-size:0.8rem;
   }
}

@media screen and (max-width:576.98px){
    .content--web,.content--react,.content--winner_projects,
    .content--python,
    .content--skills{
        width:82%!important;
    }
}