
.content--react,.content--winner__projects{
    position:relative;
    height:800px;
    margin:-100px auto 0px;
}

.react__description-mobile{
    display: none;
}

.react__container, .winner__container{
    position:absolute;
    box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
    transition:0.7s ease-in;
}    
.react__container{
    width:69%;    
}
.winner__container{
    padding: 40px 40px 20PX;
    background-color:white;
    width:69%; 
}
#react-1, #winner-1{
    bottom:0;
    left:0;
    z-index:300;
}
#react-2, #winner-2{
    top:0;
    right:0;
}

@media screen and (max-width:1440px){
    .content--react,.content--winner__projects{
        margin-top:-70px;
        width:1200px;
        height:650px;
    }
    .react__container,.winner__container{
        width:60%;
        
    }
}
@media screen and (max-width:1249px){
    .content--react,.content--winner__projects{
        width:850px;
        height:560px;
    }
    .content--react{
        margin-top: -10px;
    }
    .content--winner__projects{
        margin-top: 30px;
    }
    .react__container,.winner__container{
        width:69%;
    }
   
    
}

@media screen and (max-width:1023.98px){
    .content--react,.content--winner__projects{
        height:500px;
    }
    
    .waive--white{
        margin-top:0px;
    } 
    #react-1, #react-2, #winner-1, #winner-2{
        position:relative;
        z-index:997;
    }
}
@media screen and (max-width:991.98px){
    .content{
        width:90%;
    }
    .content--react, .content--winner__projects{
        position:static;
        height:auto;
        width:90%;
    }
    .content--react{
        margin-top: 30px;
    }
    .react__container, .winner__container{
        position:static;
        width:100%;
        margin:0 auto 20px;
    }

    .react__description-mobile{
        display:block;
        width:90%;
        text-align:center;
    }
}
