@import 'colors.scss';

  
.content--web{
    position:relative;
    width:1270px;
    height:89vh;
    margin:-120px auto 0px;
}

.project--web{
    position:absolute;
    width:69%;
    height:auto;
    padding: 40px 40px 20PX;
    border-radius: 40px;
    background-color: white;
    box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
    transition:0.7s ease-in;
    border:2px solid $projectBorder;
}

.project--web__one{
    bottom:0;
    left:0;
    z-index:300;
}
.project--web__two{
    top:0;
    right:0;
    z-index:100;
}
.project--web__three{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:200;
}

@media screen and (max-width:1440px){
    .content--web{
        margin-top:-50px;
        width:1174px;
    }
    .project--web{
        width:65%;
    }
}

@media screen and (max-width:1249px){
    .content--web{
        width:850px;
        margin-top:-10px;
    }
    
}
// @media screen and (max-width:1023.95px){
//     .content--web{
//         width:850px; 
//     }
// }

//change of layout
@media screen and (max-width:991.98px){
    .content--web{
        position:static;
        height:auto;
        width:90%;
        margin-top:40px;
    }
    .project--web{
        position: static;
        width:100%;
        margin:0 auto 40px;
    }
    .project--web__three{
        position:static;
        transform:translate(10px,10px);
    }
}

@media screen and (max-width:767.98px){
    .project--web{
        padding:25px;
    }
}