.button {
  border-radius: 20px;
  border: 1px solid rgba(0, 191, 243, 0.9);
  color: white;
  background-color: rgba(0, 191, 243, 0.9);
  margin-top: 20px;
  padding: 5px 25px;
}

.about__button {
  background-color: white;
  color: rgba(0, 191, 243, 0.9);
  border: 1px solid rgba(0, 191, 243, 0.9);
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 70%;
}

.about__button .button__link {
  color: rgba(0, 191, 243, 0.9);
  text-decoration: none;
  color: #2cb4da;
}

.about__button:hover {
  color: #f34900;
  border: 2px solid #f34900;
  text-decoration: none;
}

.about__button:hover .button__link {
  color: #f34900;
}

.button__wrapper {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-52%);
          transform: translateX(-52%);
}

.button__content--skills {
  width: 140px;
  border: none;
  letter-spacing: 2px;
  padding: 45px 5px;
  border-radius: 80%;
  background-color: rgba(0, 191, 243, 0.9);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 191, 243, 0.9);
          box-shadow: 1px 2px 3px rgba(0, 191, 243, 0.9);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: pulse-button 1.25s infinite alternate;
          animation: pulse-button 1.25s infinite alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__content--skills .button__link {
  color: white;
  text-decoration: none;
}

.button__content--skills:hover {
  background-color: white;
  border: 2px solid rgba(0, 191, 243, 0.9);
}

.button__content--skills:hover .button__link {
  color: rgba(0, 191, 243, 0.9);
  text-decoration: none;
}

@-webkit-keyframes pulse-button {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes pulse-button {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.scroll-to-projects {
  border: 2px solid rgba(0, 191, 243, 0.9);
  background: rgba(16, 193, 242, 0.16);
  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: absolute;
  bottom: 5.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: toProjects .4s infinite;
          animation: toProjects .4s infinite;
  z-index: 999;
}

.arrow {
  z-index: 999;
  position: absolute;
  bottom: 15px;
  left: 15px;
  border: solid #00bff3;
  border-width: 0 3px 3px 0;
  padding: 10px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.explore {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.explore--dark {
  color: #4b4b4b;
}

.explore::before {
  content: " ";
  width: 90px;
  height: 1px;
  background: rgba(0, 191, 243, 0.9);
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 6px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.explore--white::before {
  background: #4b4b4b;
}

.explore:hover::before {
  margin-right: 55px;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.explore:hover {
  color: rgba(0, 191, 243, 0.9);
  text-decoration: none;
}

.explore--white:hover {
  color: #4b4b4b;
}

#explore-summerize {
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .explore {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=buttons.css.map */