#post__header {
  background-color: #00a6ff !important;
}

#heading__posts {
  margin-top: 120px;
  padding: 20px;
}

#posts {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.entry-title h2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 18px;
}

.entry-image {
  margin-bottom: 44px;
  border: 2px solid #93d1dfc7;
}

.entry-image img {
  max-width: 100%;
  height: auto;
  max-height: 290px;
}

@media screen and (min-width: 768px) {
  #posts {
    padding: 0px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #heading__posts {
    padding-left: 40px;
    padding-bottom: 50px;
    margin-top: 90px;
  }
  .entry {
    width: 47%;
  }
}

@media screen and (min-width: 1040px) {
  #posts {
    margin-right: auto;
    margin-left: auto;
  }
  .entry {
    width: 32%;
  }
}

@media screen and (min-width: 1400px) {
  #posts {
    max-width: 1380px;
  }
  #heading__posts {
    padding-left: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1600px) {
  #posts {
    max-width: 1550px;
  }
  #heading__posts {
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
  }
}

#post {
  margin-top: 115px;
}

.post__heading-wrapper {
  padding: 10px 40px;
}

.post__description {
  width: 100%;
}

.wrapper__large__image {
  background-color: #00a6ff;
}

.large__image {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.large__image img {
  width: 100%;
  height: auto;
}

.color-wrapper {
  width: 100vw;
  background-color: #00a6ffbd;
}

.wrapper__top {
  height: 315px;
  width: 100%;
  background-color: #00a6ff9c;
}

.wrapper__main {
  width: 85%;
  margin-top: -210px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image {
  width: 44%;
}

.hero__image img {
  width: 100%;
}

.hero__image:not(:last-child) {
  margin-right: 20px;
}

#heading__new--post {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

.content__overview {
  width: 85%;
  margin: 40px auto;
}

.content__meta {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wrapper__large__image {
    margin-top: 100px;
  }
}

@media screen and (min-width: 992px) {
  .post__heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
  #heading__new--post {
    margin-left: 0px;
  }
  .post__heading, .post__description {
    width: 50%;
  }
  .content__overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .overview {
    width: 50%;
  }
  .content__meta {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  #heading__new--post {
    font-size: 3rem;
    line-height: 3.5rem;
    max-width: 60%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1400px) {
  .post__heading-wrapper {
    margin-top: 250px;
  }
  .wrapper__main, .content__overview {
    width: 75%;
  }
  .hero__image {
    width: 45%;
  }
  .large__image {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1600px) {
  .post__heading-wrapper, .wrapper__main, .content__overview {
    width: 70%;
  }
  #heading__new--post {
    max-width: none;
  }
  .hero__image {
    width: 45%;
  }
}

.contact--post {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top: 1px dashed #00a6ff;
  padding: 30px 0px;
}

.contact--post i.fab {
  color: #00a6ff;
  padding: 0 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact--post i.fab:hover {
  color: #f34900;
}

.email--post, .phone--post {
  color: gray;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}
/*# sourceMappingURL=post.css.map */