@import 'colors.scss';
#posts{
    width:1300px;
    margin:0 auto;
    margin-top:200px;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.entry{
    width:33.33%;
    margin-bottom:50px;
    // border:1px solid black;    
}
entry:not(:last-child){
    margin-right:20px;
}
.entry-image{
    margin-bottom:20px;
    border:1px solid $sky;
}
.entry-image img{
    max-width:100%;
    max-height:290px;;
}

.entry-title >h2{
    margin-bottom:20px;
}
.entry-title a{
    color:$sky;
    text-align: center;
}
@media screen and (max-width:1200px){
    .entry{
        width:50%;
    }
}
@media screen and (max-width:768px){
    .entry{
        width:90%;
    }
}