#post__header {
  background-color: #00a6ff !important;
}

#heading__posts {
  margin-top: 120px;
  margin-bottom: 40px;
  padding: 20px;
}

.portfolio-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px !important;
  margin-bottom: 40px;
  border-bottom: 1px solid #e3e4e5;
}

.portfolio-bar > h3 {
  width: 50%;
}

.category-link {
  font-size: 1.5rem;
  color: #999999;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-right: 12px;
}

.category-link:hover {
  color: #404040;
  text-decoration: none;
}

#posts {
  padding: 0px 20px 60px;
  margin-left: auto;
  margin-right: auto;
}

.entry {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.entry-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  margin-bottom: 12px;
}

.entry-title__one {
  padding-left: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.entry-title__two {
  padding-right: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.category li a {
  color: rgba(0, 191, 243, 0.9);
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 2px;
  text-decoration: none;
}

#subheading--posts {
  color: #4b4b4b;
  font-weight: bold;
  text-decoration: none;
}

.entry-image {
  margin-bottom: 44px;
  border: 5px solid #93d1dfc7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.entry-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.entry-image img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  #posts {
    padding: 0px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #heading__posts {
    padding-left: 40px;
    padding-bottom: 50px;
    margin-top: 130px;
  }
  .entry {
    width: 47%;
  }
  .entry-image:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .portfolio-bar {
    margin-top: -40px !important;
    margin-bottom: 40px;
  }
  .portfolio-bar > h3 {
    width: 25%;
  }
}

@media screen and (min-width: 1040px) {
  #posts {
    margin-right: auto;
    margin-left: auto;
  }
  .entry {
    width: 32%;
  }
}

@media screen and (min-width: 1400px) {
  #posts {
    max-width: 1380px;
  }
  .portfolio-bar {
    max-width: 89%;
  }
  #heading__posts {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  #posts {
    max-width: 1550px;
  }
  .portfolio-bar {
    max-width: 1480px;
  }
  #heading__posts {
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px 40px 0px;
  }
}

#post {
  margin-top: 115px;
}

.post__heading-wrapper {
  padding: 10px 40px;
}

.post__description {
  width: 100%;
  margin-bottom: 20px;
}

.wrapper__large__image {
  background-color: #00a6ff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.large__image {
  width: 85%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.large__image img {
  width: 100%;
  height: auto;
}

.color-wrapper {
  width: 100vw;
  background-color: #00a6ffbd;
}

.wrapper__top {
  height: 250px;
  width: 100%;
  background-color: #00a6ff9c;
}

.wrapper__main {
  width: 85%;
  margin-top: -210px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image {
  width: 44%;
}

.hero__image img {
  width: 100%;
}

.hero__image:not(:last-child) {
  margin-right: 20px;
}

#heading__new--post {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

.content__overview {
  width: 85%;
  margin: 20px auto;
}

.content__meta {
  text-align: center;
}

.email--post, .phone--post {
  color: gray;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

#subheading__overview {
  font-weight: bold;
  font-size: 1.3rem;
}

#subheading--post {
  color: #00a6ff9c;
  text-align: center;
  font-weight: bold;
}

#overview__text {
  margin: 20px auto;
}

.content__meta__text {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  #heading__new--post {
    margin-top: 50px;
    padding-bottom: 0;
  }
  .wrapper__large__image {
    margin-top: 50px;
  }
  #subheading__overview {
    margin-top: 35px;
  }
  .category-link {
    margin-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .post__heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
  }
  #heading__new--post {
    margin-left: 0px;
  }
  .post__heading, .post__description {
    width: 50%;
  }
  .content__overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .overview {
    width: 50%;
  }
  .content__meta {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper__top {
    height: 315px;
  }
  #heading__new--post {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .email--post, .phone--post {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .post__heading-wrapper {
    width: 75%;
    margin-top: 250px;
  }
  .wrapper__large__image {
    margin-top: 100px;
  }
  #heading__new--post {
    max-width: 80%;
  }
  .wrapper__main, .content__overview {
    width: 75%;
  }
  .hero__image {
    width: 45%;
  }
  .large__image {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1600px) {
  .post__heading-wrapper, .wrapper__main, .content__overview {
    width: 70%;
  }
  #heading__new--post {
    max-width: 80%;
  }
  .hero__image {
    width: 45%;
  }
}

.contact--post {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top: 1px dashed #00a6ff;
  padding: 30px 0px;
}

.contact--post i.fab {
  color: #00a6ff;
  padding: 0 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact--post i.fab:hover {
  color: #f34900;
}

@media screen and (min-width: 1770) {
  .portfolio-bar {
    max-width: 1440px;
  }
}
/*# sourceMappingURL=post.css.map */