@import 'colors.scss';

.project{
    display: flex;
    justify-content: space-between;  
}
.project:not(:last-child){
    padding-bottom:80px;
}

.project__container{
    text-align: center;
    background-color: white;
    width: 69%;
    max-width:69%;
    height:auto;
    padding: 40px 40px 20PX;
    border-radius: 40px;
    border:2px solid $projectBorder;
    box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
    transition:0.7s ease-in;
    .project__heading{
        color:$body_text;
        font-size: 24px;
        margin-bottom:20px;
    }
}
.project__description{
    border:2px solid $projectBorder;
}

.graphs_container{
    margin:0 auto;
    max-width:1200px;
    display:flex;
    justify-content: space-between;  
    margin-top:70px;
}

.python__container{
    text-align: center;
    background-color: white;
    height:auto;
    //border-radius: 40px;
    padding-left:40px;
    border:2px solid $projectBorder;
    box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
    transition:0.7s ease-in;   
}


.responsive{
    width:100%;
    height:auto;
    //max-height:390px;
    //max-width:600px;
}
.project__description-mobile{
    display:none;
}
@media screen and (max-width:1440px){
    .content, .graphs_container{
        width:1200px;
    }
    .project__container{
        width:60%;
    }
}
@media screen and (max-width: 1250px) {
    .content,.graphs_container {
      max-width: 1000px;
    }
  }

@media screen and(max-width:1120px){
    .project{
     flex-direction: column;
     align-items:center;
    }
    .project__container{
        width:90%;
        max-width:90%;
        margin-bottom:40px;
    }
    .skills__container:not(:last-child){
        margin-bottom:40px;
    }
    .project__description{
        display:none;
    }
   
    #games__info{
        line-height: 1.6em;
        font-size:20px;
        max-width:98%;
    }
    .mobile__text{
        line-height: 1.6em;
        font-size:20px;
        max-width:98%;
    }
}

@media screen and (max-width:1024px){
    .project__description-mobile{
        display: block;
        font-size:20px;
        max-width:600px;
        text-align:center;
        line-height: 1.6em;
    } 
    .graphs_container{
        width:800px;
    }
    .content{
        width:800px;
    }
    .python__container{
        border:1px solid yellow;
        width:46%;
       
    }
    .python__container img{
        width:100%;
        height:auto;
        
    }
    .python__container:not(:last-child){
        margin-bottom:40px;
    }
    .skills{
        flex-direction: column;
        align-items:center;
    }
    .skills__container{
        width:50%;
    }
}

@media screen and (max-width:992px){
    
    .graphs_container{
        flex-direction: column;
        align-items:center;
    }
    .python__container{
        border:1px solid pink;
        width:80%;
        img{
            width:100%;
            height:auto;
        }
    }
    
}
@media screen and (max-width:577px){
    .project__container{
        width:95%;
    }
    .project__description-mobile{
        display: block;
        font-size:20px;
        max-width:98%;
        line-height: 1.7em;
        text-align:center;
    } 
}
