.content--games {
  max-width: 1300px;
  margin: 50px auto 0px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project:not(:last-child) {
  padding-bottom: 40px;
}

.project__container {
  text-align: center;
  background-color: white;
  width: 69%;
  max-width: 69%;
  height: auto;
  padding: 40px 40px 20PX;
  border-radius: 40px;
  border: 2px solid #93d1dfc7;
  -webkit-box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
          box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

.project__container .project__heading {
  color: #4b4b4b;
  font-size: 24px;
  margin-bottom: 20px;
}

.project__description {
  border: 2px solid #93d1dfc7;
}

.content--python {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px auto 0px;
}

.python__container {
  width: 45%;
  text-align: center;
  background-color: white;
  height: auto;
  padding-left: 40px;
  border: 2px solid #93d1dfc7;
  -webkit-box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
          box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.39);
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

.python__container img {
  width: 100% !important;
  height: auto;
}

.responsive {
  width: 100%;
  height: auto;
}

.project__description-mobile {
  display: none;
}

.content--skills {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
}

.content--skills__container {
  width: 30%;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 1px solid #93d1dfc7;
  border-radius: 20px;
  color: rgba(0, 191, 243, 0.9);
  -webkit-box-shadow: 18px -10px 2px 2px #93d1dfc7;
          box-shadow: 18px -10px 2px 2px #93d1dfc7;
}

.content--skills__container p {
  font-family: 'Roboto Slab', serif;
  font-size: 1rempx;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5rem;
  color: #4b4b4b;
}

.content--skills__heading {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin: 20px auto;
  color: #404040;
}

.content--skills__container:hover {
  -webkit-box-shadow: 18px -10px 2px 2px #2cb4da;
          box-shadow: 18px -10px 2px 2px #2cb4da;
  border: 1px solid #2cb4da;
}

.content--skills__container:hover .content--skills__heading {
  color: #f34900;
}

@media screen and (max-width: 1598.98px) {
  .content--skills {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1440px) {
  .content {
    width: 1200px;
  }
  .content--python {
    width: 1200px;
  }
  .project__container {
    width: 60%;
  }
}

@media screen and (max-width: 1250px) {
  .content {
    max-width: 1000px;
  }
  .content--python {
    width: 80%;
  }
  .python__container {
    width: 45%;
  }
  .python__container img {
    width: 100%;
    height: auto;
  }
  .content--skills__container {
    padding: 20px 10px;
  }
  .content--skills__container {
    z-index: 0;
  }
}

@media screen and (max-width: 1120px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__container {
    width: 69%;
    max-width: 69%;
  }
  .content--skills__container:not(:last-child) {
    margin-bottom: 40px;
  }
  .project__description {
    display: none;
  }
  .content--skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55%;
  }
  .content--skills__container {
    width: 100%;
    padding: 20px 2px;
  }
  .content--skills__heading {
    max-width: 80%;
  }
}

@media screen and (max-width: 1023.98px) {
  .project__container {
    width: 100%;
    max-width: 100%;
  }
  .project__description-mobile {
    display: block;
    font-size: 20px;
    max-width: 600px;
    text-align: center;
    line-height: 1.6em;
  }
  .content {
    width: 800px;
  }
  .python__container img {
    width: 100%;
    height: auto;
  }
  .python__container:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 991.98px) {
  .content--python {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .python__container {
    width: 80%;
  }
  .content--skills {
    max-width: 62% !important;
  }
}

@media screen and (max-width: 767.98px) {
  .content--games {
    width: 90% !important;
  }
  .project__container {
    width: 100%;
    padding: 25px 25px;
  }
  .project__heading {
    display: none;
  }
  .content--python {
    margin-top: 40px;
  }
  .python__container {
    width: 100%;
  }
  .content--skills {
    width: 80%;
    max-width: none;
  }
  .content--skills__heading {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 12px;
  }
  .content--skills__container p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576.98px) {
  .content--web, .content--react, .content--winner_projects,
  .content--python,
  .content--skills {
    width: 82% !important;
  }
}
/*# sourceMappingURL=projects.css.map */