/*
==============================================
Basic styles
==============================================
*/
main {
  margin-top: 115px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="accent"] {
    color: $sky;
  }
  [class*="align-right"] {
    text-align: right;
  }
  [class*="align-left"] {
    text-align: left;
  }
  [class*="align-center"] {
    text-align: center;
  }
hr {
    border:none;
}
*:focus {
  outline:none !important
}
.content{
    max-width: 1300px;   
}

.shadow{
  box-shadow: 2rem 1rem 2rem rgba(0,0,0,.15);
}
@media screen and (max-width: 1250px) {
    .content {
      max-width: 1000px;
    }
}
  