.scroll-to-projects {
    border: 2px solid white;
    background: rgba(16, 193, 242, 0.16);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    animation:floating 3s ease infinite;
    z-index: 998;
}

@keyframes floating {
    0%{
        bottom:5rem;
    }
    50% {
        bottom:5.4rem;
    }
    100% {
        bottom:5rem;
    }
}
.arrow {
    z-index: 999;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 10px;
    display: inline-block;
    transform: rotate(45deg);
}