/* Typography */
$font1: 'Roboto slab';
$font2: 'Raleway', sans-serif;

// Colors
$sky1:#00bff3;
$complimentary:#f34900;
$monochromatic:#2cb4da;
$border: #00bff3;
$sky2:#27D1FF;
$sky:rgba(0,191,243,0.9);
$features_bg: #66D8F8;
$bodyText: #4b4b4b;
$linkHover:  #143539;
$headingNew:#404040;
$content--skills:white;
$bgBlue:#19c5f4;
$bgCalm:#94d2e0;
$bgLight:#19c5f4d1;
$projectBorder:#93d1dfc7;

//Variables
$headerHeight: 115px;
$introHeight: calc(100vh - #{$headerHeight});

//$canvasHeight: calc(100vh/1.8);
$canvasHeight: 407;
$canvasHeightSmallScreen: calc(100vh/1.16);